{% extends 'base.html'%}

{%block header %}
<title>Home page </title>
{%endblock%}

{% block body %}
 <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Maxime illo molestias recusandae optio nam eum architecto minus nesciunt! Dicta harum nisi,
       cum rem labore odit earum aspernatur hic molestiae exercitationem blanditiis similique distinctio saepe, 
       corrupti amet quos minima sed deleniti ipsa est dignissimos deserunt! Consequuntur accusamus reiciendis 
       quam dolorum maxime.
{%endblock%}